cookiecutter==2.2.3
sh==2.0.4
binaryornot==0.4.4

# Code quality
# ------------------------------------------------------------------------------
flake8==6.1.0

# Testing
# ------------------------------------------------------------------------------
tox==4.6.4
pytest==4.0.2
pytest-cookies==0.3.0
