cookiecutter==2.1.1
sh==2.0.2
binaryornot==0.4.4

# Code quality
# ------------------------------------------------------------------------------
flake8==6.0.0

# Testing
# ------------------------------------------------------------------------------
tox==4.4.6
pytest==7.2.1
pytest-cookies==0.6.1
