cookiecutter==2.6.0
sh==2.0.6
binaryornot==0.4.4

# Code quality
# ------------------------------------------------------------------------------
flake8==7.0.0

# Testing
# ------------------------------------------------------------------------------
tox==4.14.2
pytest==8.1.1
pytest-cookies==0.7.0
